.added_span {
  color: white;
  overflow: hidden;
  user-select: none;
  margin: 15px 0;

}

.empty {
  padding: 3px;
}

.add_span, .line {
  font-family: "Raleway-Regular";
  font-size: 18px;
  margin-right: 6px;
}