.added_span {
  color: var(--main-text-white-color);
  overflow: hidden;
  user-select: none;
  margin: 15px 0;

  span {
    transition: .4s;
  }

}

.empty {
  padding: 3px;
}

.add_span, .line {
  font-family: "Raleway-Regular";
  font-size: 18px;
  margin-right: 6px;
}

@media screen and (max-width: 600px) {
  .added_span {
    min-height: 40px;
  }
}