@use "../../../styles/_default" as *;
$main-text-color: rgb(240, 238, 238);

.work__info {
  @include paddings(144px, 260px);
  display: flex;
  flex-direction: column;
  gap: 12px;
}



.title {
  font-family: "Raleway-SemiBoldItalic";
  margin-top: 10px;
  font-style: italic;
  line-height: 1.55;
  color: $main-text-color;
  font-size: 22px;
}

.slider_block {
  width: 100%;
  max-width: 980px;
  height: 600px;
  overflow: hidden;
  position: relative;
  align-self: center;
  margin-top: 20px;
  border-radius: 12px;
  box-shadow: 0 24px 60px rgba(0, 0, 0, 0.35);
}

.slider__btn_block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  height: 20px;
}

.slider_btn {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 14px;
  background: rgba($color: #969494, $alpha: 0.7);
  cursor: pointer;
  transition: 0.4s;

  &.active {
    transform: scale(2);
    background: var(--main-yellow-text-color);
  }

  &:hover {
    transform: scale(1.2);
  }
}

.slider_wrapper {
  width: 100%;
  height: 100%;
  transition: 0.4s;
  transition-timing-function: ease-out;
  display: flex;
  user-select: none;
}

.slid {
  width: 100%;
  height: 100%;
  // background: #252934;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  border-radius: 8px;

  img {
    height: auto;
    border-radius: 6px;
    width: 100%;
  }
}

.other {
  height: 100vh;
}

.slider__control_left,
.slider__control_right {
  top: 0;
  position: absolute;
  height: 100%;
  width: 200px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
  z-index: 2;

  svg {
    fill-opacity: 0;
  }

  &:hover .anim_svg {
    fill-opacity: 0.7;
    animation: wave_anim 0.2s linear forwards;
  }
}

.slider__control_left {
  left: 0;


  &:hover {
    background: #252934;
    background: linear-gradient(
                    to right,
                    rgba(0, 0, 0, 0.65) 0,
                    rgba(0, 0, 0, 0) 100%
    )
    rgba(0, 0, 0, 0);
  }
}

.slider__control_right {
  right: 0;

  &:hover {
    background: #252934;
    background: linear-gradient(
                    to left,
                    rgba(0, 0, 0, 0.65) 0,
                    rgba(0, 0, 0, 0) 100%
    )
    rgba(0, 0, 0, 0);
  }
}

@keyframes wave_anim {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

h3 {
  margin-top: 30px;
  margin-bottom: 12px;
  font-family: "FuturaPT-Heavy";
  color: var(--main-yellow-text-color);
  font-size: 26px;
  display: inline-block;
  letter-spacing: 0.5px;
}

hr {
  height: 1px;
  width: 280px;
  background-color: var(--main-yellow-text-color);
  border: 0;
  margin: 0;
  margin-bottom: 16px;
}

.main_text {
  font-family: "Raleway-Regular";
  font-size: 18px;
  color: $main-text-color;
  margin-bottom: 18px;
  line-height: 1.6;
}

.technology {
  padding-left: 20px;
  box-sizing: border-box;
  display: grid;
  gap: 6px;

  li {
    color: $main-text-color;
    margin-bottom: 2px;
    font-family: "Raleway-Regular";
    font-size: 18px;
    line-height: 1.6;
    list-style: circle;
  }

  &.non_padd {
    padding: 0;
  }
}

video {
  height: 450px;
  margin-top: 16px;

  background: #252934;
  background: var(--gradient-background);
}

.back_menu {
  width: 55px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 130px;
  top: 77px;
  transition: 0.4s;

  i {
    display: block;
    padding: 4px;
    box-sizing: border-box;
    margin: 3px 2px;
    background: var(--main-yellow-text-color);
    transition: 0.1s;
    //   box-shadow: 1px 1px 1px 1px #efbb35;
  }

  .hidden_arrow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../../../img/dotted-left-arrow.svg") no-repeat center;
    background-size: 100% 100%;
    transition: 0.4s;
    opacity: 0;
  }

  &:hover i {
    visibility: hidden;
  }

  &:hover .hidden_arrow {
    opacity: 1;
  }

  i:nth-child(1) {
    animation: anim_menu 2s infinite;
  }
  i:nth-child(3) {
    animation: anim_menu 2s 2s infinite alternate;
  }
  i:nth-child(5) {
    animation: anim_menu 2s 4s infinite alternate-reverse;
  }
  i:nth-child(7) {
    animation: anim_menu 2s 6s infinite reverse;
  }
  i:nth-child(9) {
    animation: anim_menu 2s 8s infinite;
  }
  i:nth-child(11) {
    animation: anim_menu 2s infinite alternate;
  }

  i:nth-child(2) {
    animation: anim_menu 2s 6s infinite;
  }
  i:nth-child(4) {
    animation: anim_menu 2s 4s infinite alternate;
  }
  i:nth-child(6) {
    animation: anim_menu 2s 2s infinite reverse;
  }
  i:nth-child(8) {
    animation: anim_menu 2s 2s infinite alternate-reverse;
  }

  i:nth-child(10) {
    animation: anim_menu 2s infinite reverse;
  }
  i:nth-child(12) {
    animation: anim_menu 2s 6s infinite alternate;
  }
}

@keyframes anim_menu {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.link_btn {
  //   text-transform: uppercase;
  display: inline-block;
  padding: 2px 10px;
  box-sizing: border-box;
  border-radius: 10px;
  background: linear-gradient(135deg, #112437, #1b314a);
  box-shadow: 0 10px 22px rgba(0, 0, 0, 0.3);

  // letter-spacing: 2px;

  font-family: "Raleway-Bold";
  font-size: 16px;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: 0.2s;
  z-index: 2;
  margin-left: 16px;
  background: #112437;

  span {
    z-index: 2;
    position: relative;
    color: rgb(250, 248, 249);
    letter-spacing: 1.5px;
    max-width: 150px;
    overflow: hidden;
    padding: 0 12px;
    box-sizing: border-box;
  }

  &:hover::before {
    left: 0%;
  }

  &:hover::after {
    right: 0%;
  }

  &::before {
    content: " ";
    top: 0;
    left: 100%;
    height: 50%;
    display: block;
    width: 100%;
    position: absolute;
    z-index: 1;
    background-color: #1f3e5e;
    transition: 0.2s;
  }

  &::after {
    content: " ";
    bottom: 0;
    right: 100%;
    height: 50%;
    display: block;
    width: 100%;
    position: absolute;
    z-index: 1;
    background-color: #2c527a;
    transition: 0.2s;
  }
}

.li_styles {
  display: flex;
  align-items: center;
}

.other {
  .li_styles {
    flex-direction: column;
    align-items: flex-start;

    .link_btn {
      margin-left: 0px;
      margin-top: 8px;
    }
  }
}

footer {
  background: #112437;
}

@media screen and (max-width: 1680px) {
  .work__info {
    @include paddings(77px, 180px);
  }

  .slider_block {
    width: 780px;
    height: 500px;
    align-self: center;
  }

  .back_menu {
    left: 90px;
    top: 77px;
  }
}

@media screen and (max-width: 1366px) {
  .slider__control_left svg,
  .slider__control_right svg {
    width: 16px;
    height: 34px;
  }

  .slider_block {
    width: 90%;
    height: 520px;
  }
}

@media screen and (max-width: 1200px) {
  .work__info {
    @include paddings(34px, 100px);
    gap: 10px;
  }

  .slider_block {
    max-width: 640px;
    width: 100%;
    height: 415px;
  }

  .main_text {
    margin-bottom: 24px;
  }

  .technology li {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1100px) {
  .work__info {
    @include paddings(34px, 60px);
  }

  .back_menu {
    left: 4px;
    top: 34px;
  }

  h3 {
    margin-bottom: 10px;
    font-size: 24px;
  }

  h2 {
    font-size: 24px;
  }

  .title {
    font-size: 18px;
    letter-spacing: 1px;
  }

  hr {
    width: 160px;
  }

  .main_text,
  .technology li {
    font-size: 16px;
  }
}

@media screen and (max-width: 900px) {
  footer {
    padding-left: 60px;
  }

  .slider_block {
    width: 90%;
    height: 370px;
  }

  video {
    height: auto;
  }
}

@media screen and (max-width: 748px) {
  .slider_block {
    width: 100%;
    height: 320px;
  }

  .work__info {
    gap: 8px;
  }
}

@media screen and (max-width: 648px) {
  .li_styles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .link_btn {
    margin-left: 0px;
    margin-top: 6px;
  }
}

@media screen and (max-width: 600px) {
  .slider_block {
    height: 280px;
  }
}

@media screen and (max-width: 500px) {
  .work__info,
  footer {
    padding: 25px 15px;
    gap: 6px;
  }

  .main_text {
    margin-bottom: 16px;
  }

  .link_btn {
    font-size: 14px;
  }
}

@media screen and (max-width: 440px) {
  .slider_block {
    height: 240px;
  }
}
