@use "./default.scss" as *;

section {
  @include paddings(144px, 260px);
  box-sizing: border-box;
}

.all_skills {
  width: 480px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 260px;
  padding-right: 36px;
  flex-shrink: 0;
  z-index: 4;
}

.my_skills {
  width: 100%;
  height: auto;
  padding: 150px 80px;
  background: #f8f8f8;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 1680px) {
  section {
    @include paddings(100px, 180px);
  }

  .work__prev {
    width: 40%;
    height: 310px;
    margin-right: 5%;
    margin-top: 5%;
  }

  .all_skills {
    padding-left: 180px;
  }
}

@media screen and (max-width: 1500px) {

  .all_skills {
    padding-left: 140px;
  }

  section {
    @include paddings(100px, 140px);
  }
  .separator {
    height: 130px;
  }
}


@media screen and (max-width: 1400px) {

  .all_skills {
    padding-left: 100px;
  }

  .about__text_body {
    margin-top: 16px;
  }
  .text_block {
    font-size: 18px;
  }
  section {
    @include paddings(80px, 100px);
  }
  h2,
  .separator h2 {
    font-size: 30px;
  }
  .separator {
    height: 110px;
  }

  .work__prev {
    margin-right: 2.5%;
    margin-top: 2.5%;
    height: 300px;

    .work_tech_block {
      font-size: 20px;
    }
  }

  .work_title {
    font-size: 13px;
    height: 25px;
    line-height: 25px;
  }

  .experience__more h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .experience__more p {
    font-size: 16px;
    margin-bottom: 4px;
  }

  .experience__name {
    h2 {
      font-size: 22px;
    }
    span {
      font-size: 16px;
    }
  }

  .skills_row .name {
    font-size: 16px;
  }
}

@media screen and (max-width: 1280px) {
  .text_block p {
    margin-bottom: 12px;
  }

  .work__prev {
    height: 260px;
  }
}

@media screen and (max-width: 1100px) {
  section {
    @include paddings(80px, 60px);
  }

  .all_skills {
    padding-left: 60px;
  }

}


@media screen and (max-width: 1024px) {
  .work_section {
    justify-content: space-between;
  }
  .about__text {
    width: 65%;
  }
  .text_block {
    font-size: 16px;
  }
  header span,
  header .colored span {
    font-size: 40px;
  }

  .work__prev {
    width: 47.5%;
    height: 280px;
  }
}

@media screen and (max-width: 900px) {


  .my_skills {
    position: relative;
    padding: 20px 0;
    box-sizing: border-box;
    overflow: hidden;
  }

  .right_skills_block {
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    overflow: visible;
    z-index: 2;
    opacity: 0.3;
  }

  .all_skills {
    z-index: 1;
    width: 100%;
    box-sizing: border-box;
    padding-left: 40px;

  }

  section {
    @include paddings(40px, 40px);
  }
  h2,
  .separator h2 {
    font-size: 26px;
  }
  .separator {
    height: 80px;
  }

  .work_section {
    justify-content: center;
  }

  .work__prev .work_tech_block,
  .experience__more h3 {
    font-size: 18px;
  }

  .work__prev {
    width: 85%;
    height: 310px;
    margin-top: 24px;
    box-shadow: none;
    margin-right: 0px;

    &.blured {
      opacity: 1;
    }

    &::before {
      display: block;
      opacity: 0.8;
    }

    &:hover {
      box-shadow: none;
      opacity: 1;
    }
    &:hover:not(.active) .work_btn {
      opacity: 1;
      animation: none;
    }
    &:hover .work_tech_block {
      opacity: 1;
      animation: none;
    }

    .work_tech_block {
      opacity: 1;
    }

    .work_btn {
      opacity: 1;
      max-width: 240px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }




  .text_title {
    margin-top: 4px;
    font-size: 18px;
  }
  .experience__more p {
    font-size: 14px;
    margin-bottom: 4px;
  }

  .experience__name {
    h2 {
      font-size: 20px;
    }
    span {
      font-size: 14px;
    }
  }

  .skills_row .name {
    font-size: 14px;
  }
}




@media screen and (max-width: 768px) {

  .right_skills_block {
    top: 25%;
  }

  .right_skills_block {
    z-index: 1;
  }

  .skills_row {
    height: 26px;
  }

  .all_skills {
    z-index: 2;
  }

  header span,
  header .colored span {
    font-size: 32px;
    padding: 0 4px;
  }

  section {
    @include paddings(20px, 10px);
  }

  .line_l {
    display: none;
  }
  .about__text {
    width: 100%;
  }
  .about {
    position: relative;
  }
  .add_span,
  .line {
    font-size: 14px;
    margin-right: 8px;
  }

  .text_block p {
    margin-bottom: 12px;
    line-height: 24px;
  }
  h2,
  .separator h2 {
    font-size: 20px;
  }

  .experience__name h2,
  .experience__name span {
    text-align: center;
  }

  .experience__more h3 {
    margin-bottom: 6px;
  }


  .all_skills {
    padding-left: 10px;
  }

  .my_skills {
    height: auto;
  }

  .experience__name {
    width: 200px;
    border-top: 2px solid #e3e3e3;
  }

  .experience__row:first-child .experience__name {
    border-top: 0px solid #e3e3e3;
  }

  .experience__runner {
    margin: 0;
  }

  .experience__circle {
    transform: scaleX(0);
    width: 100px;
    height: 10px;
    margin: 12px 0;
    transform-origin: left;
    border-radius: 6px;

  }
  .experience__line {
    width: 1px;
  }

  .experience__row .circle_grow_anim {
    transform: scaleX(1);

  }

  .skills_row .fill {
    width: 100%;
  }

}

@media screen and (max-width: 600px) {

  .experience__name h2, .experience__more h3 {
    font-size: 18px !important;
    margin: 6px 0;
  }



  .work_section {
    padding-top: 0px;
  }
  .work__prev {
    width: 95%;
  }
  .experience__name {
    width: 100%;
  }

  .experience__row {
    flex-direction: column;
    align-items: flex-start;
  }


  .experience__name h2, .experience__name span {
    text-align: left;
  }

  .experience__more {
    border-top: 0px;
    padding: 0;

    &:last-child {
      border-bottom: 0px solid #1d3e5f;
    }
  }

  .menu {
    width: 60px;
    height: 60px;
  }

  .hidden_menu {
    top: 60px;
    width: 60px;
  }

  .menu span {
    width: 25px;
  }


}


@media screen and (max-width: 500px) {
  .add_span,
  .line {
    font-size: 13px;
    margin-right: 6px;
  }

  header span,
  header .colored span {
    font-size: 28px;
    padding: 0 2px;
  }

  .work__prev .work_tech_block,
  .experience__more h3 {
    font-size: 16px;
  }

  .work_tech_block {
    font-weight: 900;
    line-height: 22px;
  }

  .work__prev {
    height: 270px;
  }



}

@media screen and (max-width: 440px) {

  .skills_row .name {
    font-size: 12px;
    width: auto;
    position: static;

  }
  .skills_row {
    margin-bottom: 8px;

    &:hover .name {
      width: auto
    }

  }


  .skills_row span {
    line-height: 26px;
    font-size: 14px;
  }

  h2,
  .separator h2 {
    font-size: 18px;
    text-align: center;
    letter-spacing: 2px;
  }

  .separator {
    margin-top: 12px;
  }

  header {
    height: 65vh;
    background: url('../img/header.jpg') no-repeat center;
    background-size: cover;
  }
  header span,
  header .colored span {
    font-size: 24px;
    padding: 0 2px;
  }

  .work__prev {
    height: 230px;
    width: 100%;
  }

  .work_btn {
    font-size: 16px;
  }

}

@media screen and (max-width: 440px) {
  .skills_row .name {
    font-size: 11px;
    width: auto;
  }
}

