@mixin h2_txt($fs, $ls) {
  line-height: 1.5;
  font-size: $fs;
  letter-spacing: $ls;
  font-family: "Raleway-Medium";
  font-weight: 700;
  color: #efbb35;
}

@mixin paddings($tops, $lefts) {
  box-sizing: border-box;
  padding: $tops $lefts;
}

section {
  @include paddings(144px, 260px);
  box-sizing: border-box;
}