.progress_scroll {
  position: fixed;
  top: 0;
  height: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: var(--main-yellow-text-color);
  width: 0;
  z-index: 10;
  transition: 0.5s;
}