@use "../../../styles/default" as *;

h2 {
  @include h2_txt(32px, 4px);
}

.about {
  width: 100%;
  overflow: hidden;
  background: #252934;
  background: linear-gradient(to right, #252934, #222831);

  display: flex;
  flex-direction: column;

  &__text {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
  }

  &__image_container {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    margin-left: 32px;
    display: flex;

    align-items: center;
    justify-content: center;
  }
}



.about__wrapper {
  display: flex;
  align-items: center;
}

.about__text_body {
  display: flex;
  margin-top: 32px;
}

.line_l {
  width: 10%;
  background: var(--main-yellow-text-color);
  height: 3px;
  flex-shrink: 0;
  margin-right: 16px;
  margin-top: 16px;
}

.text_block {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-family: "Raleway-Regular";
  font-size: 20px;
  color: var(--main-text-white-color);
  line-height: 1.3;

  span {
    margin-bottom: 16px;
  }
}
