body {
  margin: 0;
  padding: 0;
}

a {
  outline: none;
  text-decoration: none;
  color: white;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}



main {
  width: 100%;
  box-sizing: border-box;
  background: #252934;
  background: linear-gradient(to right, #252934, #112437);
  display: flex;
  flex-direction: column;
  position: relative;
}

h2 {
  font-size: 30px;
  letter-spacing: 4px;
  font-family: "Raleway-Bold";
  color: #efbb35;
}

.anim_span {
  animation: anim_span 0.6s linear infinite alternate;
}

main,
header,
section,
footer {
  width: 100%;
}



@keyframes anim_span {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@font-face {
  font-family: "Raleway-SemiBoldItalic";
  src: url("./fonts/Raleway-SemiBoldItalic.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Raleway-Regular";
  src: url("./fonts/Raleway-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Raleway-Bold";
  src: url("./fonts/Raleway-Bold.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Raleway-Medium";
  src: url("./fonts/Raleway-Medium.ttf");
  font-display: swap;
}

@font-face {
  font-family: "FuturaPT-Heavy";
  src: url("./fonts/FuturaPT-Heavy.ttf");
  font-display: swap;
}

$main_color: rgb(236, 228, 228);

